name: Deploy Frontend
on:
  workflow_run:
    workflows: ["Terraform"]
    types: [completed]
    branches: [main]
  workflow_dispatch:
  push:
    branches: [main]
    paths: ['frontend/**']

jobs:
  deploy:
    if: >
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push' ||
      github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      
      - name: Initialize Terraform
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.TF_BACKEND_BUCKET }}" \
            -backend-config="key=${{ secrets.TF_BACKEND_KEY }}" \
            -backend-config="region=${{ secrets.TF_BACKEND_REGION }}"
        working-directory: ./terraform

      - name: Get API URL
        run: |
          cd terraform
          API_URL=$(terraform output -raw api_gateway_invoke_url)
          echo "API_URL=$API_URL" >> $GITHUB_ENV

      - name: Inject API URL into script.js
        run: sed -i "s|REPLACE_API_URL|${{ env.API_URL }}/contact|g" frontend/assets/script.js
    
      - name: Sync to S3
        run: aws s3 sync ./frontend s3://${{ secrets.TF_VAR_BUCKET_NAME }} --delete

      - name: CloudFront invalidate
        run: |
          aws cloudfront create-invalidation \
          --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
          --paths "/*" 